* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*10px*/
  --fs-body: 1.6rem;
  --fs-header: 4rem;

  --ff-heading:'Epilogue', sans-serif;

  --hue: 250;
  --bb-primary: hsla(var(--hue), 22%, 20%);
  --fc-primary: hsla(var(--hue), 0%, 100%);
  --fc-secondary: hsla(var(--hue), 50%, 80%);
  --fc-secondary-dark: hsla(var(--hue), 100%, 11%, 1);

}

body {
  font-family: var(--ff-heading);
  font-size: var(--fs-body);

  background-color: var(--bb-primary);
  color: var(--fc-primary);

}

.page {
  max-width: 33rem;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

header {
  font-family: var(--ff-heading);
  text-align: center;

  margin: 10rem 0 8rem;
}

header h1 {
  font-size: var(--fs-header);
  line-height: 4.8rem;
  font-weight: 800;
}

header p {
  color: var(--fc-secondary);
  text-transform: uppercase;  

  line-height: 3.2rem;
  letter-spacing: 3px;
  font-weight: 400;

  margin-bottom: 1.7rem;
}

main {
  display: grid;
  gap: 3.2rem;
}

.card {
  position: relative;

  font-family: var(--ff-heading);
}

.card img {
  height: 41.6rem;
  object-fit: cover;
  border-radius: 6px;

  transition: all 200ms;

}

.card img:hover {
  transform: scale(1.1);
  opacity: 0.4;
}

.card h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;

  font-size: var(--fs-header);
  font-weight: 800;

  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.card h2 span {
  border-radius: 2rem;
  background-color: var(--fc-primary);
  font-size: var(--fs-body);
  font-weight: 400;
  color: var(--fc-secondary-dark);
  padding: 0 1.6rem;
  height: 3.8rem;

  width: fit-content;
  width: -moz-fit-content;

  display: inline-flex;
  align-items: center;
}

header {
  animation-name: topdown 700ms; 
}

main {
  animation: downtop 700ms 350ms backwards;
}

@keyframes topdown {
  0%{
    opacity: 0;
    transform: translateY(-15px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  
  100% {
   opacity: 1;
   transform: translateY(0);
  }
}